# Gradle
.gradle/
build/

# Android Studio / IntelliJ
.idea/
*.iml

# Local config
local.properties

# Kotlin
.kotlin/

# NDK
.cxx/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build outputs
*.apk
*.aab

# Keystore (very important)
*.jks
*.keystore

copier.py