# Gradle
.gradle/
build/

# Android Studio / IntelliJ
.idea/
*.iml

# Local config
local.properties

# Kotlin
.kotlin/

# NDK
.cxx/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build outputs
*.apk
*.aab

# Keystore (very important)
*.jks
*.keystore

copier.py

*/.venv/

ml/dataset/background/*.jpg
ml/dataset/background/*.jpeg
ml/dataset/fg_pictures/*.jpg
ml/dataset/yolo_dataset

ml/models/**/*.pt
ml/models/**/*.onnx
ml/models/**/*.engine
/cv/
/ml/


